body {
    margin: 0 auto;
    padding: 0 auto;

}

.background {
    background-image: url(img/LegendaryPKMN.png);
    background-repeat: no-repeat;
    background-size: 800px;
    width: 1200px;
    height: 300px;
    background-position: center;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.card1 {
    width: 70vh;
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid ridge;
    border-radius: 25px;
}

