body {
    margin: 0 auto;
    padding: 0 auto;

}

.background {
    background-image: url(img/LegendaryPKMN.png);
    background-repeat: no-repeat;
    background-size: 800px;
    width: 1200px;
    height: 300px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.information {
    display: flex;
}

#cards {
    width: 90vh;
    height: 123vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    margin-bottom: 100px;
}

.card-title {
    font-size: 1.2rem;
}

.card-img {
    width: 345px;
    height: 70px;
    margin: auto;
    
}

.legend-info {
    font-size: 1.3rem;
}

div {
    border-radius: 50px;
    text-align: center;
    margin: auto;
    align-items: center;

}